/* styles.css */
.underline-partial {
  position: relative;
  display: inline-block;
}

.underline-partial::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust as needed */
  width: 100%; /* This will underline the entire word "ROMI" */
  height: 2px; /* Adjust height if needed */
  background-color: #dbff00;
}
